.signup-section {
	width: 60vw;
	margin: 5rem auto;
}
.signup-section form {
	padding: 1rem;
}
.signup-section form * {
	padding: 1rem;
	/* margin: 1rem; */
}
@media screen and (max-width: 640px) {
	.signup-section {
		width: 90vw;
	}
}
.signuperror {
	text-align: center;
	color: red;
}
.signupsuccess {
	text-align: center;
	color: green;
}
